<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DondeVer - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="header-inner">
      <h1 class="main-title"><a href="/">DondeVer </a></h1>
    </div>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <small>Demo - muestra contenidos por plataforma en Argentina</small>
  </footer>
</body>
</html>
